* .navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: black;
}

/* .navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
} */

.navigation__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 75%;
  text-decoration: none;
  text-align: center;
  align-content: space-between;
  color: white;
  fill: white;
}

i {
  margin: 8px;
}
