.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted black;
  margin: 20px;
  padding: 0 0 10px 0;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 11px 0 rgba(25, 50, 81, 0.2);
}

.quiz-card__bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
}

.quiz-card__heading {
  font-size: 180%;
  color: #536173;
  margin: 20px 0 0 0;
  font-family: 'Yusei Magic', sans-serif;
}

.quiz-card__question {
  font-size: 125%;
  text-align: center;
  margin: 0 0 15px 0;
}

.quiz-card__question::first-letter {
  font-size: 150%;
}
.quiz-card__taglist {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
}
.quiz-card__tag-blue {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: cornflowerblue;
  padding: 1px 3px 1px 3px;
}
.quiz-card__tag-green {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: green;
  padding: 1px 3px 1px 3px;
}
.quiz-card__tag-red {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: darkred;
  padding: 1px 3px 1px 3px;
}
.quiz-card__tag-yellow {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: goldenrod;
  padding: 1px 3px 1px 3px;
}

.quiz-card__button {
  text-decoration: none;
  border-radius: 5px;
  font-size: 80%;
  border: 2px dotted black;
}

.quiz-card__answer {
  text-align: center;
  text-decoration-style: double;
  margin: 5px;
  font-size: 100%;
}

/* 
summary {
  position: relative;
}

summary::marker {
  color: transparent;
}

summary::before {
  content: '+';
  position: absolute;
  color: green;
  font-size: 2em;
  font-weight: bold;
  right: 1em;
  top: 0.2em;
  transition: all 0.5s;
} 

details[open] summary::after {
  color: green;
  transform: translate(5px, 0) rotate(45deg);
} */
