<section class="quiz-card">
  <h1 class="quiz-card__heading">Question:</h1>
  <p class="quiz-card__question">What is the capital of Chile?</p>
  <ul class="quiz-card__taglist">
    <li class="quiz-card__tag">&num;travel</li>
    <li class="quiz-card__tag">&num;geography</li>
    <li class="quiz-card__tag">&num;capital cities</li>
  </ul>
  <details>
    <summary>
      <button class="quiz-card__button">Show answer</button>
    </summary>
    <p class="quiz-card__answer">Santiago de Chile</p>
  </details>
</section>
