.app-grid {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: 100%;
  height: 100vh;
}

.app-grid__main {
  display: grid;
  overflow-y: scroll;
  padding: 5px;
}

.page {
  justify-content: center;
  display: grid;
  padding: 5px;
}

.page > *:last-child::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 80px;
}
