.create__heading--color-green {
  font-size: 150%;
  background: linear-gradient(
      transparent,
      transparent 50%,
      green 0,
      green 85%,
      transparent 0
    )
    no-repeat;
}

.create__heading--color-red {
  font-size: 150%;
  background: linear-gradient(
      transparent,
      transparent 50%,
      darkred 0,
      darkred 85%,
      transparent 0
    )
    no-repeat;
}

.create__heading--color-yellow {
  font-size: 150%;
  background: linear-gradient(
      transparent,
      transparent 50%,
      goldenrod 0,
      goldenrod 85%,
      transparent 0
    )
    no-repeat;
}

.create__textarea {
  width: 350px;
  height: 40px;
}

.create__letter-count {
  font-size: 60%;
}

.create__form {
  display: grid;
  place-items: center;
}

.create__button {
  border: 2px solid #ddd;
  padding: 4px;
  margin: 0;
}
