<nav class="navigation">
  <a href="#" class="navigation__item">
    <img src="../images/home.svg" alt="" width="40" height="40" />
  </a>
  <a href="#" class="navigation__item">
    <img src="../images/bookmark.svg" width="40" height="40" />
    Bookmarks
  </a>
  <a href="#" class="navigation__item">
    <img src="../images/create.svg" width="40" height="40" />
    Create
  </a>
  <a href="#" class="navigation__item">
    <img src="../images/setting.svg" width="40" height="40" />
    Settings
  </a>
</nav>
