.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted black;
  margin: 20px;
  padding: 0 0 10px 0;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 11px 0 rgba(25, 50, 81, 0.2);
}

.quiz-card__bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
}

.quiz-card__bookmark-saved {
  position: absolute;
  top: -15px;
  right: 10px;
}

.quiz-card__heading {
  font-size: 180%;
  color: #536173;
  margin: 20px 0 0 0;
  font-family: 'Yusei Magic', sans-serif;
}

.quiz-card__question {
  font-size: 125%;
  text-align: center;
  margin: 0 0 15px 0;
}

.quiz-card__question::first-letter {
  font-size: 150%;
}
.quiz-card__taglist {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
}
.quiz-card__tag-blue {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: cornflowerblue;
  padding: 1px 3px 1px 3px;
}
.quiz-card__tag-green {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: green;
  padding: 1px 3px 1px 3px;
}
.quiz-card__tag-red {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: darkred;
  padding: 1px 3px 1px 3px;
}
.quiz-card__tag-yellow {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: goldenrod;
  padding: 1px 3px 1px 3px;
}

details summary {
  position: relative;
  padding: 0.5rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  list-style: none;
  text-align: center;
  margin: 10px;
  display: block;
}

details summary::after {
  content: '+';
  color: black;
  position: absolute;
  font-size: 1.75rem;
  margin-top: 0.75rem;
  left: -30%;
  bottom: 50%;
  line-height: 0;
}

details[open] summary::after {
  transform: rotate(45deg);
}

summary::-webkit-details-marker {
  display: none;
}

details p {
  margin: 10px;
  text-align: center;
}
